
PORT=5001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=odoo_hack
POSTGRES_HOST_PORT=5533

DATABASE_URL=postgresql://postgres:postgres@localhost:5533/odoo_hack

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

CLIENT_URL=http://localhost:3000
